<div class="container">
    <div class="footer-grid">
        <div class="footer-brand">
            <div class="footer-logo">
                <i class="fas fa-plane-departure"></i>
                <span>swim-developer</span>
            </div>
            <p>Building the future of aviation information exchange with open source.</p>
        </div>
        <div class="footer-links">
            <h4>Navigation</h4>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/framework.html">Framework</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/architecture.html">Architecture</a></li>
                <li><a href="/documentation.html">Documentation</a></li>
                <li><a href="/tutorials.html">Tutorials</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Resources</h4>
            <ul>
                <li><a href="https://reference.swim.aero/index.html" target="_blank">SWIM Reference Guide</a></li>
                <li><a href="https://eur-registry.swim.aero/services" target="_blank">SWIM Service Registry</a></li>
                <li><a href="https://www.eurocontrol.int/concept/system-wide-information-management" target="_blank">EUROCONTROL SWIM</a></li>
                <li><a href="https://www.icao.int/APAC/swim" target="_blank">ICAO SWIM</a></li>
                <li><a href="https://www.sesardeploymentmanager.eu/" target="_blank">SESAR Deployment Manager</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Standards</h4>
            <ul>
                <li><a href="https://www.eurocontrol.int/publication/eurocontrol-spec-170" target="_blank">SPEC-170 (Yellow Profile)</a></li>
                <li><a href="https://www.eurocae.net/products/ed-254/" target="_blank">ED-254 (AMAN)</a></li>
                <li><a href="https://www.aixm.aero/" target="_blank">AIXM 5.1</a></li>
                <li><a href="https://www.fixm.aero/" target="_blank">FIXM</a></li>
            </ul>
        </div>
        <div class="footer-links">
            <h4>Community</h4>
            <ul>
                <li><a href="https://github.com/swim-developer" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                <li><a href="https://github.com/orgs/swim-developer/discussions" target="_blank"><i class="fas fa-comments"></i> Discussions</a></li>
                <li><a href="https://github.com/swim-developer/swim-developer.github.io/issues" target="_blank"><i class="fas fa-bug"></i> Report an Issue</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="copyright">Apache License 2.0 &bull; 2026 swim-developer contributors</p>
    </div>
</div>
